<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Council Page - Clubs Management IIT Gandhinagar</title>
    <!-- Tailwind CSS and Bootstrap CDN links -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="font-sans bg-blue-100" style="padding-bottom: 40px;">

    <!-- Navigation -->
    <nav class="bg-gray-800 text-white p-4 fixed top-0 w-full z-10">
        <div class="container mx-auto flex justify-between items-center">
            <h3>Clubs Management IIT Gandhinagar</h3>
            <div>
                <!-- <a href="events" class="px-4 py-2 hover:bg-gray-700 transition-colors">Events</a> -->
                <a href="logout" class="px-4 py-2 hover:bg-gray-700 transition-colors">Logout</a>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto mt-24 p-8">
        <h1>{{ club_name }}: </h1>
        <div class="md:flex md:flex-wrap bg-gray-100 p-4 rounded-lg shadow-md">
            <!-- Content Section -->
            <div class="md:w-1/4 p-4">
                <form action="{{ url_for('fetch_club_members', club_name=club_name)}}" method="POST">
                    <div class="mb-4">
                        <label for="dropdown" class="block">Select an option:</label>
                        <select id="dropdown" name="option" class="form-select block w-full mt-1">
                            <option value="All member">All member</option>
                            <option value="General Members only">General Members only</option>
                            <option value="Secretary">Secretary</option>
                            <option value="Coordinators">Coordinators</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>   
                </form>
                {% if show_form %}
                <div class="flex mb-4 mt-2">
                    <form action="{{ url_for('update_club_members', club_name=club_name)}}" method="POST">
                        <label for="dropdown">Update:</label>
                        <select id="dropdown" name="option2" class="form-select block w-full mt-1">
                            <option value="Add member">Add member</option>
                            <option value="Remove Member">Remove Member</option>
                            <option value="Add coordinator">Add coordinator</option>
                            <option value="Remove coordinator">Remove coordinator</option>
                        </select>
                        <div class="mt-3">
                            <label for="r">Enter Roll Number</label>
                            <input type="r" class="form-control" id="r" name="r" placeholder="Enter roll no" name="r">
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
                </div>
                <div>
                    <form action="{{ url_for('addEvents')}}" method="GET">
                        <button type="submit" class="btn btn-primary">Add Event</button>
                    </form>
                </div>
                {% endif %}
            </div>
            
    {% if message is defined and message %}
    <div class="col-span-3 mb-4">
        <div class="bg-gray-300 shadow-md rounded p-3 text-center">
            <div class="alert alert-warning">{{ message }}</div>
        </div>
    </div>
    {% endif %}

            <!-- Tables Section -->
            <div class="md:flex-1 md:p-4 mt-4 md:mt-0">
                <h2>Club Members</h2>
                <div>
                    <table class="table-fixed w-full">
                        <thead>
                            <tr>
                                <th class="w-1/5">Roll Number</th>
                                <th class="w-1/5">Email</th>
                                <th class="w-1/5">Contact Number</th>
                                <th class="w-1/5">Name</th>
                                <th class="w-1/5">Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if event_info %}
                <h2 style="padding-top: 20px">Events</h2>
                <div>
                    <table class="table-fixed w-full">
                        <thead>
                            <tr>
                                <th class="w-1/5">Event name</th>
                                <th class="w-1/5">Edition</th>
                                <th class="w-1/5">Budget</th>
                                <th class="w-1/5">Approval Status</th>
                                <th class="w-1/5">Overseer</th>
                                <th class="w-1/5">Event lead</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in event_info %}
                            <tr>
                                <td>{{ event['EVENT_NAME'] }}</td>
                                <td>{{ event['EDITION'] }}</td>
                                <td>{{ event['BUDGET'] }}</td>
                                <td>{{ event['APPROVAL_STATUS'] }}</td>
                                <td>{{ event['Overseer'] }}</td>
                                <td>{{ event['Event_Lead'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <footer class="bg-gray-800 text-white p-2 text-center fixed bottom-0 w-full">
        Developed by ManuDB<br>IIT Gandhinagar, Palaj, Gujarat
    </footer>

    <!-- Bootstrap and JQuery scripts for functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>