<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Councils at IIT Gandhinagar</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Custom styles */
        body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
        #hero {
            background-color: #0057b8;
            color: white;
        }
    </style>
</head>
<body class="bg-white">

    <!-- Navigation -->
    <nav class="bg-gray-800 text-white p-4 fixed w-full z-10">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex-grow">
                <a href="index.html" class="text-xl font-bold">Clubs Management IIT Gandhinagar</a>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section id="hero" class="h-64 flex flex-col justify-center items-center text-center">
        <h1 class="text-5xl font-bold">Councils at IIT Gandhinagar</h1>
    </section>

    <!-- Councils Section -->
    <section id="councils" class="container mx-auto text-center py-20">
        <div class="overflow-x-auto">
            <table class="table-auto border-collapse w-full">
                <thead>
                    <tr class="text-lg font-semibold bg-gray-100">
                        <th class="px-4 py-2 border">Council Name</th>
                        <th class="px-4 py-2 border">Description</th>
                        <th class="px-4 py-2 border">Total Members</th>
                        <th class="px-4 py-2 border">Actions</th> <!-- New column for "Know More" button -->
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                {% for council in councils %}   
                    <tr>
                        <td class="border px-4 py-2">
                            {{ council.COUNCIL_NAME }}
                    </td>
                        <td class="border px-4 py-2">{{ council.DESCRIPTION }}</td>
                        <td class="border px-4 py-2">{{ council.TOTAL_MEMBERS }}</td>
                        <td class="border px-4 py-2">
                            <a href="{{ url_for('council_members') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Know More about {{council.COUNCIL_NAME}}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <footer class="bg-gray-800 text-white p-5 text-center">
        Developed by ManuDB<br>IIT Gandhinagar, Palaj, Gujarat
    </footer>

</body>
</html>
