<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-3">Upcoming Events</h1>
        <div class="row">
            {% for event in e %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="Palette.jpg" class="card-img-top" alt="{{ event.title }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ event.EVENTS_NAME }}</h5>
                        <p class="card-text-large" style="font-size: 22px;">{{ event.DESCRIPTION }}</p>
                        <i><h6>{{event.DATE}}</h4></i>
                        <a href="{{ url_for('event',event = event.EVENTS_NAME)}}" >Read More</a>
                        <!-- <a href="{{ url_for('event'), event.EVENTS_NAME}}" >Read More</a> -->


                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
